{% extends 'navbar.html' %}
{% load static %}
{% block title %}Downloade{% endblock title %}

{% block content %}


<div class="card wrap">
  <div class="meta">
    <div class="img-wrap">
      <figure class="img">
        <img src="{{ meta.thumb }}" alt="thumbnail">
      </figure>
    </div>
    <div class="info">
      <h2 class="has-text-weight-bold is-size-5">{{meta.title}}</h2>
      <p><span class="has-text-weight-semibold">Duaration </span>{{meta.duration}}</p>
      <p>{{meta.viewcount}}<span class="has-text-weight-semibold"> Views</span></p>
    </div>
  </div>
</div>

<div class="table-container mt-4">
  <table class="table is-hoverable">
    <thead>
      <tr>
        <th>Resolution</th>
        <th>Size</th>
        <th>Extension</th>
        <th>Download</th>
      </tr>
    </thead>

    <tbody>
      {% for stream in streams %}
      <tr>

        <td>{{ stream.resolution }}</td>
        <td>{{ stream.file_size}}</td>
        <td>{{ stream.extension }}</td>
        <td>
          {% comment %} <a class="button is-primary" href="{{ stream.video_url }}"
            style="text-decoration: none;">Download</a> {% endcomment %}
          <button class="button is-primary"
            onclick="start_download(event,'{{meta.videoid}}','{{ forloop.counter0 }}','v')">
            Download
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="table-container mt-4">
  <h3 class="has-text-centered has-text-primary">AUDIO ONLY</h3>
  <table class="table is-hoverable">
    <thead>
      <tr>
        <th>Bitrate (Kbps)</th>
        <th>Size</th>
        <th>Extension</th>
        <th>Download</th>
      </tr>
    </thead>

    <tbody>
      {% for stream in audio_streams %}
      <tr>

        <td>{{ stream.bitrate }} Kbps</td>
        <td>{{ stream.file_size}}</td>
        <td>mp3</td>
        <td>
          <button class="button is-primary"
            onclick="start_download(event,'{{meta.videoid}}','{{ forloop.counter0 }}','mp3')">
            Download
          </button>
        </td>
      </tr>

      {% endfor %}
      {% for stream in audio_streams %}
      <tr>

        <td>{{ stream.bitrate }} Kbps</td>
        <td>{{ stream.file_size}}</td>
        <td>{{ stream.extension }}</td>
        <td>
          <button class="button is-primary"
            onclick="start_download(event,'{{meta.videoid}}','{{ forloop.counter0 }}','a')">
            Download
          </button>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>



{% endblock content %}

{% block css %}
<style>
  .meta {
    display: flex;

  }

  img {
    height: 180px;
    width: auto;
  }

  .info {
    padding: 8px;
    margin-left: 10px;
  }

  .wrap {
    padding: 8px;
    width: 50%;
    margin: 20px auto;
  }

  table {
    width: 70%;
    margin: 25px auto;
    text-align: center;
  }

  @media screen and (max-width: 769px),
  print {
    .wrap {
      width: 95%;
      margin: 20px auto;
    }

    .meta {
      display: flex;
      flex-direction: column;
    }

    .img-wrap {
      align-self: center;
    }

    table {
      width: 99%;
      margin: 25px auto;
    }
  }
</style>
{% endblock css %}

{% block js %}

<script>
  async function start_download(event, videoid, idx, stream_type) {
    event.target.classList.add("is-loading");
    const url = "/get_download_url"
    const data = {
      videoid,
      idx,
      stream_type,
    };
    try {
      const _res = await fetch(url, {
        method: 'POST',
        mode: 'cors',
        cache: 'no-cache',
        credentials: 'same-origin',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': "{{ csrf_token }}"
        },
        redirect: 'follow',
        referrerPolicy: 'no-referrer',
        body: JSON.stringify(data)
      })
      const result = await _res.json();
      const x = download(result.filepath);

    } catch (err) {
      event.target.classList.add("is-danger");
    } finally {
      event.target.classList.remove("is-loading");
    }

    function download(url) {
      const a = document.createElement('a')
      a.href = url
      a.download = url.split('/').pop()
      document.body.appendChild(a)
      a.click();
      document.body.removeChild(a)
    }

  }
</script>

{% endblock js %}