{% extends 'navbar.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}

{% block content %}

<div class="info m-4">
	<h2 class="is-size-2 has-text-centered is-family-primary is-primary has-text-link"> {{local_list_name}} </h2>
	<h4 class="is-size-4 has-text-centered has-text-weight-light">{{week}}</h4>
</div>

{% for movie in local_list %}
<div class="list">
	<div class="box item">
		<div class="meta">
			<h4 class="is-size-4 has-text-black"><span class="has-text-primary">#{{ forloop.counter }}</span>
				{{movie.title}}</h4>
		</div>
		<div class="mt-2 actions">
			<div class="action">
				<a class="button  is-danger btn-hover" href=" {% url 'ytredirect' %}?query={{movie.title}}">
					<span class="hover-value">Watch Trailer</span>
					<span class="icon">
						<i class="fab fa-youtube"></i>
					</span>
				</a>
			</div>
		</div>
	</div>
</div>
{% endfor %}
<div class="info m-4">
	<h2 class="is-size-2 has-text-centered is-family-primary is-primary has-text-link"> {{global_list_name}} </h2>
</div>
{% for movie in global_list %}
<div class="list">
	<div class="box item">
		<div class="meta">
			<h4 class="is-size-4 has-text-black"><span class="has-text-primary">#{{ forloop.counter }}</span>
				{{movie.title}}
			</h4>
		</div>
		<div class="mt-2 actions">
			<div class="action">
				<a class="button  is-danger btn-hover" href=" {% url 'ytredirect' %}?query={{movie.title}}">
					<span class="hover-value">Watch Trailer</span>
					<span class="icon">
						<i class="fab fa-youtube"></i>
					</span>
				</a>
			</div>
		</div>
	</div>
</div>
{% endfor %}


{% endblock content %}

{% block css%}

<style>
	.list {
		width: 75%;
		margin: 10px auto;
	}

	.item {
		display: flex;
		justify-content: space-between;
	}

	.actions {
		display: flex;
		flex-direction: column;
	}

	.action {
		margin: 5px 0;
		align-self: flex-end;
	}


	.hover-value {
		font-size: 0px;
		-webkit-transition: font-size 0.4s;
		transition: font-size 0.4s;
	}


	.btn-hover:hover .hover-value {
		font-size: inherit;
	}

	.btn-hover::before {
		font-family: "Font Awesome 5 Free";
		content: "\f053";
		display: inline-block;
		padding-right: 3px;
		vertical-align: middle;
		font-weight: 900;
		font-size: 10px;
	}

	@media screen and (max-width: 769px),
	print {
		.list {
			width: 95%;
			margin: 10px auto;
		}

		.item {
			flex-direction: column;
		}

		.actions {
			flex-direction: row;
			justify-content: flex-start;
			flex-wrap: wrap;
		}

		.action {
			margin-right: 5px;
		}

		.hover-value {
			font-size: inherit;
			-webkit-transition: font-size 0.4s;
			transition: font-size 0.4s;
		}

		.btn-hover::before {
			content: ""
		}
	}
</style>
{% endblock css %}