{% extends 'navbar.html' %}
{% load static %}
{% block title %}Youtube Downloader{% endblock title %}

{% block content %}

<div class="">
	<h1 class="title is-1 has-text-weight-bold has-text-centered py-3 mb-4">Youtube Downloader</h1>
</div>

<form action="ytdownloader">
	<div class="control  is-flex-widescreen-only is-flex-desktop-only is-flex-tablet-only">
		<input name='video_url' class="input is-large m-2" placeholder="Enter Video URL(link)">
		<button class="button is-black is-large m-2 is-fullwidth-mobile-only">
			Submit
		</button>
	</div>

</form>

{% endblock content %}

{% block css %}
<style>
	@media screen and (max-width: 769px),
	print {
		.is-fullwidth-mobile-only {
			width: 100%;
		}
	}
</style>
{% endblock css %}